:root{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;

    background-color: #373737;
    background-attachment: fixed;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: auto;
}

.select-campeonato{
    background-color: #373737;
    color: #ffffff;
    border: none;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}