.admin-footer{
    display: flex;
    margin: 35px 10px 15px 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    justify-content: center;
}

.admin-form{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    font-weight: 700;
}

.admin-form label{
    color: #2E2EB1;
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-input{
    border: 1px solid #2E2EB1;
    border-radius: 25px;
    padding: 11.8px;
    font-size: 15px;
}

.password-wrapper{
    display: flex;
    align-items: center;
    border: 1px solid #2E2EB1;
    border-radius: 25px;
    padding: 8px;
}

.password-wrapper input{
    border: none;
    font-size: 15px;
    width: 170px;
}

.show-password-button{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

input:focus{
    outline: none;
    box-shadow: none;
}

.eye-icon{
    width: 20px;
    height: 20px;
}

.submit-button{
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 8px 50px;
    cursor: pointer;
    color: #ffffff;
    background-color: #2E2EB1;
    font-size: 20px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}

.submit-button:hover{
    color: #2E2EB1;
    border: 2px solid #2E2EB1;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}