.main-adm-page{
    display: flex;
}

.left-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    max-width: 190px;
    height: 100vh;
    position: sticky;
    top: 0;
    align-self: flex-start;
}

.buttons-bar-container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 100%;
}

.menu-label{
    margin: 20px 0 10px 10px;
    color: #2E2EB1;
    font-weight: bold;
}

hr{
    width: 100%;
    max-width: 164px;
    margin-bottom: 15px;
}

.bar-button{
    margin: 5px 10px;
    border: none;
    border-radius: 10px;
    color: #2E2EB1;
    background-color: #ffffff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.bar-button:hover{
    background-color: rgba(0,0,0,0.1)
}

.bar-button.active{
    background-color: rgba(0,0,0,0.1)
}

.logout-container{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.logout-button{
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    color: #2E2EB1;
    background-color: #ffffff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
}

.logout-button:hover{
    background-color: rgba(0,0,0,0.1)
}

.adm-container{
    background-color: #4c4c4c;
    margin: 25px 35px;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
}